*{
    margin: 0px;
    padding: 0px;
}
.student-form{
    gap: 10px;
    display: flex;
    padding-top: 30px;
    justify-content: center;
}
.student-form .create-edit-btn{
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.studentSection{
    gap: 20px;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.list{
    border: 1px solid #dd3d3d;
}

.list h2{
    padding: 20px;
}

.list ul{
display: flex;
flex-direction: column;
}

.list ul li{
    gap:5px;
    margin: 5px;
    display: flex;
    list-style: none;
}

.list ul li button{
    padding: 5px;
}